@font-face {
  font-family: 'Long_Cang';
  src: url('/fonts/LongCang-Regular.woff') format('woff');
}
@font-face {
  font-family: 'KingnamBobo-Bold';
  src: url('/fonts/bobo.woff') format('woff');
}
@-webkit-keyframes fa-spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}

@keyframes fa-spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}
.fa-spin {
  display: inline-block;
  -webkit-animation-name: fa-spin;
  animation-name: fa-spin;
  -webkit-animation-duration: var(--fa-animation-duration,2s);
  animation-duration: var(--fa-animation-duration,2s);
  -webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
  animation-iteration-count: var(--fa-animation-iteration-count,infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing,linear);
  animation-timing-function: var(--fa-animation-timing,linear)
}
.content {
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
}
.source-text {
  width: 100%;
  box-sizing: border-box;
}
.target-canvas {
  position: relative;
  border: 1px solid #000;
}
.target-canvas>img{
  float: left;
  visibility: hidden;
  width: 100%;
}
.target-canvas>canvas {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.target-canvas::after {
  content: '';
  display: block;
  clear: both;
}
.form-line {
  text-align: right;
  padding: 10px 0;
}
.form-line > label {
  float: left;
}

.radio-img-input {
  display: none;
}

.radio-img-input:checked+.radio-img-label {
  border-color: #096bff;
}

.radio-img-label {
  display: inline-block;
  width: 32%;
  height: auto;
  font-size: 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.radio-img-label>img {
  max-width: 100%;
  max-height: 100%;
}